@import "../../app.scss";
.contact {
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 1366px;
  align-items: center;
  justify-content: center;
  gap: 5%;
  overflow: hidden;

  @include mobile {
    flex-direction: column;
    gap: 0;
    width: 100vw;
    justify-content: unset;
    align-items: unset;
  }

  .textContainer {
    display: flex;
    max-width: 35%;
    flex: 1;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      width: 80%;
      max-width: 80%;
      margin-top: 15vh;
      margin-left: 20%;
      gap: 10px;
      flex: unset;
    }

    h1 {
      font-size: 50px;
      line-height: 45px;

      @include mobile {
        font-size: 30px;
        line-height: 30px;
      }
    }

    .item {
      h2 {
        color: orange;

        @include mobile {
          font-size: 15px;
        }
      }
      span {
        font-weight: 300;
      }
    }
  }

  .formContainer {
    flex: 1;
    max-width: 35%;
    min-height: 50vh;
    position: relative;
    z-index: 0;

    @include mobile {
      max-width: 100%;
      margin: auto;
      width: 80%;
      flex: unset;
      height: 50%;
    }

    .success {
      background-color: transparent;
      position: absolute;
      margin: auto;
      z-index: 0;
      stroke: green;
      width: 400px;
      height: 400px;

      @include mobile {
        left: 5%;
        top: 2%;
        width: 90%;
        height: 90%;
      }
    }

    .phoneSvg {
      background-color: transparent;
      position: absolute;
      margin: auto;
      z-index: 0;
      stroke: orange;
      color: transparent;
      width: 400px;
      height: 400px;

      @include mobile {
        left: 5%;
        top: 2%;
        width: 90%;
        height: 90%;
      }
    }

    form {
      max-width: 100%;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include mobile {
        gap: 10px;
      }

      input {
        padding: 10px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 8px;
        color: white;
      }
      input[type="submit"] {
        color: white;
        font-weight: 500;
        background-color: orange;
        cursor: pointer;
        border: none;
        width: 100px;
        padding: 10px;
        font-weight: 500;
      }
      .error {
        color: red;
        margin: 0;
        span {
          color: white;
        }
      }
      textarea {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 8px;
        color: white;
        padding: 10px;
        resize: none;
      }
    }
  }
}
